body {
  margin: 0;
}
img {
  object-fit: contain;
  max-width: 100%;
}
.content {
  min-height: 100vh;
}

// img.rounded, .rounded img, .rounded, .rounded iframe {
//   border-radius: $img-radius-small;
// }

.bg-blue-lightest {
  background-color: $blue-lightest;
}

hr {
  border-top-color: $blue-dark;
}