// Colour variables
$orange: #d86227;
$orange-dark: #ac4e1e;
$blue-lightest: #cbebea;
$blue-light: #7f9da5;
$blue: #42777e;
$blue-dark: #003c4b;
$blue-darkest: #0b212c;
$grey-light: #a3afb3;

// Transitions
$transition: all 0.3s ease;
$transitionslow: all 0.6s ease;

// Decoration
$img-radius: 20px;
$img-radius-small: 10px;